// breakPoint
$mobile: 768px;
$tablet: 1023px;
$desktop: 1024px;

// size
$h1: 6.25rem; //100px
$h2: 4.375rem; // 70px 
$h3: 3.625rem; // 58px
$h4: 2.813rem; // 45px
$h5: 2rem; // 32px
$h6: 1.5rem; // 24px
$p2: 1.125rem; // 18px
$h1Mobile: 3.714rem; // 52px
$h2Mobile: 3rem; // 42px
$h3Mobile: 2.286rem; // 32px
$h4Mobile: 1.714rem; // 24px
$h5Mobile: 1.286rem; // 18px
$h6Mobile: 1.143rem; // 16px

// weight
$hWeight: 700;
$midWeight: 500;
$lightWeight: 300;

// color
$textColor: #000;
$darkColor: #222;
$backColor: #F5F3F0;
$mainColor: #FFD646;