/* [font] 'Oswald' */
@import url('https://webfontworld.github.io/Oswald/Oswald.css');
/* [font] 'Poppins' */
@import url('https://webfontworld.github.io/Poppins/Poppins.css');
/* [font] 'Pretendard' */
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

:root{
  /* size */
  font-size: 16px;
  --h1: 3.125rem; /* 50px */
  --h2: 2.625rem; /* 42px */
  --h3: 2.25rem; /* 36px */
  --h4: 1.875rem; /* 30px */
  --h5: 1.5rem; /* 24px */
  --h6: 1.125rem; /* 18px */
  /* color */
  --textColor: #000;
}

/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: var(--textColor);
  font-family: 'Oswald', 'Pretendard', sans-serif;
}
ul{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
  font-size: inherit;
  font-weight: 600;
  line-height: 100%;
}
button{
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
img{
  width: 100%;
}

/* common */
h1, 
.h1{
  font-size: var(--h1);
  letter-spacing: -1.5px;
}
h2, 
.h2{
  font-size: var(--h2);
  letter-spacing: -1.26px;
}
h3, 
.h3{
  font-size: var(--h3);
  letter-spacing: -0.9px;
}
h4, 
.h4{
  font-size: var(--h4);
  letter-spacing: -0.75px;
}
h5, 
.h5{
  font-size: var(--h5);
  letter-spacing: -0.6px;
}
h6, 
.h6{
  font-size: var(--h6);
  letter-spacing: -0.27px;
}
p{
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.24px;
}
.main{}
section{
  max-width: calc(100% - 400px);
  height: 100vh;
  margin: 0 0 0 auto;
  padding: 100px 45px;
  border: 5px solid #f00;
}
section h2{
  margin-bottom: var(--h3);
}